# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr
*.project
*.class
*.classpath
.idea/*

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.gitignore
cache/target/
common/target/
dao/target/
dto/target/
message/target/
service/target/
web/target/

target/
cache/src/main/resources/
cache/src/test/
common/src/main/resources/
common/src/test/
dao/src/test/
dto/src/main/resources/
dto/src/test/
message/src/
service/src/test/
web/src/test/
