server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8

spring:
  datasource:
    name: blog
    url: jdbc:mysql://47.103.31.116:3306/blog?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false&allowMultiQueries=true&rewriteBatchedStatements=true
    username: root
    password: Yangnan@112200
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      db-type: mysql
      filters: stat
      max-active: 400
      initialSize: 200
      maxWait: 60000
      minIdle: 200
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: select 'x'
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxOpenPreparedStatements: 3
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  redis:
    jedis:
      pool:
        max-active: -1
        max-idle: -1
    port: 6380
    host: 172.16.59.243
    password: 
  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
  data:
    mongodb:
      database: admin
      host: 172.16.59.243
      port: 27017
      username: loan
      password: Haohan@123
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  jmx:
    enabled: false

mybatis:
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  type-aliases-package: com.yangnan.blog.entity
  type-handlers-package: com.yangnan.blog.mybatis
  configuration:
    default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler
#pagehelper分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

expire:
  validate.code: 60
  login.user: 3600

env: pro
project: /blog/

logging:
  level:
    org:
      mongodb:
        driver: error
      springframework:
        boot:
          autoconfigure: error
      apache:
        http: error