<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="AppName" value="blog"/>
    <property name="LOG_PATH" value="${user.home}/logs/${AppName}"/>
    <property name="ERROR_PATH" value="${LOG_PATH}/ERROR"/>
    <property name="INFO_PATH" value="${LOG_PATH}/INFO"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{mdc_traceId}] [%X{mdc_userNo}] [%X{mdc_uri}] [%X{cost_time}] [%thread] [%level] %logger{80} - %msg%n"/>
    <property name="MAXHISTORY" value="30"/>
    <property name="FILESIZE" value="10MB"/>
    <property name="TOTALSIZECAP" value="5GB"/>

    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_PATH}/${AppName}.%d{yyyy-MM-dd}.error.%i.log</fileNamePattern>
            <maxFileSize>${FILESIZE}</maxFileSize>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <totalSizeCap>${TOTALSIZECAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- INFO 输入到文件，按日期和文件大小 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${INFO_PATH}/${AppName}.%d{yyyy-MM-dd}.info.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>${FILESIZE}</maxFileSize>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <totalSizeCap>${TOTALSIZECAP}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!--SQL相关日志输出-->
    <logger name="org.apache.ibatis" level="INFO" additivity="false"/>
    <logger name="org.mybatis.spring" level="INFO" additivity="false"/>
    <logger name="com.github.miemiedev.mybatis.paginator" level="INFO" additivity="false"/>

    <!-- Logger 根目录 -->
    <root level="${log.level}">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO"/>
    </root>
</configuration>
